{% extends 'base.html' %}
{% block content %}

<div class="container-fluid content p-5 me-0">
    <h2 class="font-weight-bold">Password change</h2>
    <hr>
    <form method="POST">
        <input class="form-input" type="password" name="old_password" placeholder="Old password" required>
        <input class="form-input" type="password" name="password" placeholder="New password" required data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="Password should contain 8-100 characters including at least:</br>1 lower case letter,</br>1 upper case letter,</br>1 number,</br>1 special character (@#$%^&+=!.-_).">
        <input class="form-input" type="password" name="password_repetition" placeholder="Repeat new password" required>
        <input type="submit" class="btn" value="Change password">
    </form>
</div>

{% endblock %}